**Question 1**

**Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**

**Examples**

**is_symmetrical(7227) ➞ True**

**is_symmetrical(12567) ➞ False**

**is_symmetrical(44444444) ➞ True**

**is_symmetrical(9939) ➞ False**

**is_symmetrical(1112111) ➞ True**

**Solution:**

In [1]:
def is_symmetrical(num):
    # Convert the number to a string
    num_str = str(num)
    
    # Check if the string is equal to its reverse
    return num_str == num_str[::-1]

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(44444444)

True

In [6]:
is_symmetrical(1112111)

True

**Question 2**

**Given a string of numbers separated by a comma and space, return the product of the numbers.**

**Examples**

**multiply_nums("2, 3") ➞ 6**

**multiply_nums("1, 2, 3, 4") ➞ 24**

**multiply_nums("54, 75, 453, 0") ➞ 0**

**multiply_nums("10, -2") ➞ -20**

In [7]:
def multiply_nums(nums_str):
    # Split the input string by comma and space, then convert to integers
    nums = [int(num) for num in nums_str.split(", ")]
    
    # Initialize the result with 1
    result = 1
    
    # Multiply all the numbers together
    for num in nums:
        result *= num
    
    return result

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

**Question 3**

**Create a function that squares every digit of a number.**

**Examples**

**square_digits(9119) ➞ 811181**

**square_digits(2483) ➞ 416649**

**square_digits(3212) ➞ 9414**

**Notes**

**The function receives an integer and must return an integer.**

**Solution**

In [12]:
def square_digits(n):
    # Convert the number to a string to iterate through its digits
    num_str = str(n)
    
    # Initialize an empty string to store the squared digits
    result_str = ""
    
    # Iterate through the digits
    for digit in num_str:
        # Square the digit and convert it back to an integer
        squared_digit = int(digit) ** 2
        
        # Append the squared digit to the result string
        result_str += str(squared_digit)
    
   
    return int(result_str)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

**Question 4**

**Create a function that sorts a list and removes all duplicate items from it.**

**Examples**

**setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]**

**setify([4, 4, 4, 4]) ➞ [4]**

**setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]**

**setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]**

**Solution:**

In [16]:
def setify(lst):

    unique_set = set(sorted(lst))
    
    # Convert the set back to a list and return it
    return list(unique_set)

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

**Question 5**

**Create a function that returns the mean of all digits.**

**Examples**

**mean(42) ➞ 3**

**mean(12345) ➞ 3**

**mean(666) ➞ 6**

**Notes**

- **The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).**
- **The mean will always be an integer.**

**Solution:**

In [21]:
def mean(n):
    # Convert the number to a string to iterate through its digits
    n_str = str(n)
    
    # Calculate the sum of digits
    digit_sum = sum(int(digit) for digit in n_str)
    
    # Calculate the mean by dividing the sum by the number of digits
    digit_count = len(n_str)
    digit_mean = digit_sum / digit_count
    
    return int(digit_mean)

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6